.homeSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSection .container{
    width: 12rem;
    height: 12rem;
}

.homeSection .container img{
    width: 100%;
}

